 /* *
{
    background-color: rgb(46, 45, 45);
}  */

/* .top_line{
    padding: 0.5%;
    position: absolute;
    left: 12%;
    top: 2%;
    width: 100%;
    background-color: white;
} */

 .orange_box{
    background-color: rgb(248, 137, 97);
} 
